In [68]:
import pandas as pd
import numpy as np
import json
import xarray as xr

In [69]:
covid = pd.read_csv('latestdata.csv', dtype='str')

In [70]:
covid

,ID,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id,data_moderator_initials,travel_history_binary
0,000-1-1,NaN,male,Shek Lei,Hong Kong,China,22.3650193,114.133808,point,NaN,...,NaN,NaN,Shek Lei,NaN,NaN,Hong Kong,China,8029.0,NaN,NaN
1,000-1-10,78,male,Vo Euganeo,Veneto,Italy,45.2977477,11.6583815,point,NaN,...,22.02.2020,NaN,Vo' Euganeo,NaN,NaN,Veneto,Italy,8954.0,NaN,NaN
2,000-1-100,61,female,NaN,NaN,Singapore,1.35346,103.8151,admin0,NaN,...,17.02.2020,NaN,NaN,NaN,NaN,NaN,Singapore,200.0,NaN,NaN
3,000-1-1000,NaN,NaN,Zhengzhou City,Henan,China,34.62931,113.46799999999999,admin2,NaN,...,NaN,NaN,NaN,NaN,Zhengzhou City,Henan,China,10091.0,NaN,NaN
4,000-1-10000,NaN,NaN,Pingxiang City,Jiangxi,China,27.51356,113.9029,admin2,NaN,...,NaN,NaN,NaN,NaN,Pingxiang City,Jiangxi,China,7060.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676306,010-99995,52,female,Calleria,Coronel Portillo,Peru,-8.378189999999961,-74.53969999999998,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14429.0,NaN,False
2676307,010-99996,52,female,Pueblo Libre,Lima,Peru,-12.076529999999934,-77.06734999999998,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14695.0,NaN,False
2676308,010-99997,52,female,Comas,Lima,Peru,-11.93297999999993,-77.04084999999998,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14400.0,NaN,False
2676309,010-99998,52,male,Callao,Callao,Peru,-12.00073999999995,-77.11823999999996,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14516.0,NaN,False
2676310,010-99999,52,male,Los Olivos,Lima,Peru,-11.976259999999968,-77.07502999999997,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14502.0,NaN,False

In [71]:
covid1 = covid[['latitude', 'longitude']]

In [72]:
covid1['date_confirmation'] = covid['date_confirmation']

<ipython-input-72-7a1beda0502b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid1['date_confirmation'] = covid['date_confirmation']

In [73]:
covid = covid1

In [74]:
covid

                    latitude           longitude date_confirmation
0                 22.3650193          114.133808        14.02.2020
1                 45.2977477          11.6583815        21.02.2020
2                    1.35346            103.8151        14.02.2020
3                   34.62931  113.46799999999999        26.01.2020
4                   27.51356            113.9029        14.02.2020
...                      ...                 ...               ...
2676306   -8.378189999999961  -74.53969999999998        17.05.2020
2676307  -12.076529999999934  -77.06734999999998        17.05.2020
2676308   -11.93297999999993  -77.04084999999998        17.05.2020
2676309   -12.00073999999995  -77.11823999999996        17.05.2020
2676310  -11.976259999999968  -77.07502999999997        17.05.2020

[2676311 rows x 3 columns]

In [75]:
covid = covid.loc[(covid['latitude'] != 'NaN') & (covid['longitude'] != 'NaN')]

In [76]:
cod = covid['date_confirmation'].str.replace('.', '')

In [77]:
cod = cod.str[2:-4]

In [78]:
covid.insert(3, "date", cod)

In [79]:
covid

                    latitude           longitude date_confirmation date
0                 22.3650193          114.133808        14.02.2020   02
1                 45.2977477          11.6583815        21.02.2020   02
2                    1.35346            103.8151        14.02.2020   02
3                   34.62931  113.46799999999999        26.01.2020   01
4                   27.51356            113.9029        14.02.2020   02
...                      ...                 ...               ...  ...
2676306   -8.378189999999961  -74.53969999999998        17.05.2020   05
2676307  -12.076529999999934  -77.06734999999998        17.05.2020   05
2676308   -11.93297999999993  -77.04084999999998        17.05.2020   05
2676309   -12.00073999999995  -77.11823999999996        17.05.2020   05
2676310  -11.976259999999968  -77.07502999999997        17.05.2020   05

[2676311 rows x 4 columns]

In [80]:
covid = covid.drop(columns = 'date_confirmation')

In [81]:
covid

                    latitude           longitude date
0                 22.3650193          114.133808   02
1                 45.2977477          11.6583815   02
2                    1.35346            103.8151   02
3                   34.62931  113.46799999999999   01
4                   27.51356            113.9029   02
...                      ...                 ...  ...
2676306   -8.378189999999961  -74.53969999999998   05
2676307  -12.076529999999934  -77.06734999999998   05
2676308   -11.93297999999993  -77.04084999999998   05
2676309   -12.00073999999995  -77.11823999999996   05
2676310  -11.976259999999968  -77.07502999999997   05

[2676311 rows x 3 columns]

In [82]:
covid['latitude'] = pd.to_numeric(covid['latitude'])

In [83]:
covid['longitude'] = pd.to_numeric(covid['longitude'])

In [84]:
covid

          latitude   longitude date
0        22.365019  114.133808   02
1        45.297748   11.658382   02
2         1.353460  103.815100   02
3        34.629310  113.468000   01
4        27.513560  113.902900   02
...            ...         ...  ...
2676306  -8.378190  -74.539700   05
2676307 -12.076530  -77.067350   05
2676308 -11.932980  -77.040850   05
2676309 -12.000740  -77.118240   05
2676310 -11.976260  -77.075030   05

[2676311 rows x 3 columns]

In [85]:
covid = covid.loc[(covid["latitude"] >= 15) &(covid["latitude"] <= 60) &(covid["longitude"] >=70)& (covid["longitude"] <= 135)]

In [86]:
covid = covid.rename(columns={'latitude':'lat', 'longitude': 'lon'})

In [87]:
covid1 = covid.loc[(covid['date'] == '01')]
covid2 = covid.loc[(covid['date'] == '02')]
covid3 = covid.loc[(covid['date'] == '03')]
covid4 = covid.loc[(covid['date'] == '04')]
covid5 = covid.loc[(covid['date'] == '05')]
covid6 = covid.loc[(covid['date'] == '06')]

In [88]:
covid1.drop('date', axis=1)
covid2.drop('date', axis=1)
covid3.drop('date', axis=1)
covid4.drop('date', axis=1)
covid5.drop('date', axis=1)
covid6.drop('date', axis=1)

              lat         lon
130321  15.433360  119.909320
130341  15.158340  120.055250
130404  15.369540  119.952700
130429  15.165400  120.608470
130459  15.240840  120.849980
...           ...         ...
455105  21.244020   81.634770
455106  20.706470   81.549400
455107  22.066220   81.686230
455108  20.726910   81.205360
455109  20.448403   82.236476

[9165 rows x 2 columns]

In [89]:
index1= ['lat', 'lon']

In [90]:
covid1= covid1.pivot_table(index=index1, aggfunc='size')
covid2= covid2.pivot_table(index=index1, aggfunc='size')
covid3= covid3.pivot_table(index=index1, aggfunc='size')
covid4= covid4.pivot_table(index=index1, aggfunc='size')
covid5= covid5.pivot_table(index=index1, aggfunc='size')
covid6= covid6.pivot_table(index=index1, aggfunc='size')

In [91]:
covid1= covid1.reset_index()
covid2= covid2.reset_index()
covid3= covid3.reset_index()
covid4= covid4.reset_index()
covid5= covid5.reset_index()
covid6= covid6.reset_index()

In [92]:
covid1= covid1.rename(columns={0:"infections"})
covid2= covid2.rename(columns={0:"infections"})
covid3= covid3.rename(columns={0:"infections"})
covid4= covid4.rename(columns={0:"infections"})
covid5= covid5.rename(columns={0:"infections"})
covid6= covid6.rename(columns={0:"infections"})

In [93]:
new = pd.concat([covid1, covid2, covid3, covid4, covid5, covid6], ignore_index=True, sort=False).sort_values(['lat', 'lon']).reset_index()

In [94]:
new

      index       lat        lon  infections
0      1357  15.00109  120.72661           1
1      2038  15.00109  120.72661           1
2      1020  15.00322  120.65390           1
3      1358  15.00322  120.65390           1
4      2039  15.00322  120.65390           1
...     ...       ...        ...         ...
3565   2036  55.35833   86.06754         123
3566   3236  55.35833   86.06754         207
3567   1356  56.47616   84.97553           5
3568   2037  56.47616   84.97553         180
3569   3237  56.47616   84.97553         863

[3570 rows x 4 columns]

In [95]:
covid1 = covid1[['lat', 'lon', 'infections']]
data = []
for row in covid1.itertuples(index = False):
    print(row[2])
    point_data = {
        'COORDINATES': [row[0], row[1]],
        'infections': row[2],
    }
    data.append(point_data)

10
4
2
22
6
2
14
2
4
12
8
4
6
2
2
2
6
2
10
2
2
18
4
46
16
24
6
20
10
4
60
2
6
24
10
26
280
24
6
54
32
6
30
22
12
2
188
74
6
10
10
2
18
6
4
2
12
8
12
2
18
2
10
6
6
12
30
2
2
8
2
4
24
12
2
12
8
2
24
2
2
42
46
2
8
8
30
2
8
10
68
8
32
16
6
2
6
52
10
2
10
12
2
2
4
2
2
2
42
6
8
2
2
68
12
24
14
6
42
14
2
46
28
44
4
6
6
8
2
24
44
2
86
4
446
2
6
8
14
2
16
150
62
10
2
4
42
178
10
150
38
10
18
6
74
52
4
18
6
64
6
112
2
2
4
10
18
4
4
6
12
16
10
24
124
4
8
20
8
2
82
44
22
4
8
158
18
4
2
176
18
174
2
6
18
12
12
16
42
2
20
8
58
199
24
24
12
56
2422
6
32
56
4
138
8
92
66
321
12
244
2
32
6
8
2
2
34
185
12
347
4
30
1
10
242
8
32
8
50
22
20
3
22
44
4
26
6
66
4
4
195
16
2
8
42
278
16
4
4
20
2
2
134
8
28
26
12
20
94
60
10
122
12
32
18
54
22
4
26
72
12
10
20
24
8
2
16
36
6
2
54
6
36
10
8
20
10
98
4
2
2
10
2
14
4
4
2
2
14
8
10
2
4
62
140
2
30
10
2
2
14
4
6
4
40
2
2
2
2
4
8
2
30
108
4
2
34
6
2
10
20
6
2
8
2
16
18
2
2
22
20
18
24
8
18
2
2
8
2
12
2
14
2
24
2
2
6
8
6
2
24
22
38
2
4
22
22
60
6
14
4
22
16
18
12
6
24
6
4
28
18
2
76
14
2
2
10
8
16
4
2
8
2
6
4
6
4
10
10
6
2
20
2
6
2
8
2
6
4
14
2
2
2
4
2
8
2
2
4
2
22
4
2
10
2
16
10
6
44
2
2
1

In [96]:
covid2 = covid2[['lat', 'lon', 'infections']]
data2 = []
for row in covid2.itertuples(index = False):
    print(row[2])
    point_data = {
        'COORDINATES': [row[0], row[1]],
        'infections': row[2],
    }
    data2.append(point_data)

16
38
6
2
12
2
12
2
8
2
4
12
2
6
6
44
16
8
2
4
2
2
42
22
4
18
6
6
112
14
2
2
2
32
4
2
2
2
2
2
2
2
38
2
2
12
66
434
106
2
86
78
68
16
4
26
2
366
166
2
26
2
32
6
22
2
6
10
24
10
6
2
6
10
6
38
4
22
4
6
24
2
4
12
8
2
2
2
6
2
4
2
22
30
6
28
4
4
12
6
72
14
44
2
40
8
2
10
2
2
2
2
10
2
2
4
2
2
8
4
16
2
2
44
12
2
22
2
98
2
14
24
12
78
4
4
2
2
2
84
26
4
24
4
110
16
2
36
84
4
132
12
442
6
2
16
18
6
266
110
14
4
38
218
4
90
166
32
2
6
4
2
162
54
38
2
2
58
6
108
4
4
6
8
6
2
2
4
18
6
2
20
161
12
10
8
2
2
190
30
2
10
8
148
2
8
251
10
357
38
12
16
57
8
8
166
314
8
51
3
14
54
10821
20
46
117
2
94
2
86
64
687
8
274
4
18
56
24
33
4
12
8
262
6
10
2
860
2
12
20
6
16
168
4
2
4
6
4
2
6
28
86
6
4
62
4
60
16
2
80
2
166
4
420
4
2
8
2
4
92
333
20
10
276
4
44
2
2
189
4
26
2
2
4
16
38
6
2
4
4
134
142
130
12
216
2
94
4
134
12
2
6
40
4
56
34
10
72
40
2
142
2
2
36
68
2
2
4
4
6
8
2
84
28
8
2
2
12
2
8
82
8
4
4
14
2
50
28
146
2
2
14
8
4
16
4
2
2
10
14
30
2
2
12
2
2
4
4
14
148
2
2
28
44
2
86
6
18
2
2
2
16
4
4
28
6
4
4
2
2
2
2
6
2
18
4
4126
28
2
42
2
2
2
4
2
14
2
12
2
2
2
4
2
880
20
2
224
6
2
2
4
16
106
2
4
26
2
8
4
2
6
4
8
2
12
2
4
12
2
6
6
2
2
16
20
10
6
4
36
4
2
2
4
2
94
72
10
4
26
4
2
2
40
2
10
8
4
2
4
4
2
24
4
4
14
20
12
46
22
2
6
64
4
6
2
48
8
4
8
2
2
2
6
324
2
30
4
8
2
28
10
26
12
6
4
4
20
4
8
8
46
12
12
4
8
4
12
34
26
18
6
4
6
82
4
32
6
4
2
12
4
6
6
2
4
2
4
10
6
10
14
2
8
2
4
28
2
4
10
2
6
8
4
4
2
2
2
4
2
6
2
4
42
6
10
6
2
6
2
6
18
6
398
2
6
4
4
8

In [97]:
covid3 = covid3[['lat', 'lon', 'infections']]
data3 = []
for row in covid3.itertuples(index = False):
    print(row[2])
    point_data = {
        'COORDINATES': [row[0], row[1]],
        'infections': row[2],
    }
    data3.append(point_data)

1
2
1
2
1
1
2
1
2
3
1
6
1
1
5
1
1
3
3
2
1
1
1
1
1
1
2
1
1
3
1
1
7
1
1
2
1
1
1
6
10
1
2
1
2
1
4
1
1
2
1
2
3
25
2
1
2
4
1
77
1
1
2
1
1
1
1
1
2
1
1
1
6
2
1
9
1
1
2
1
1
1
3
35
1
1
12
142
2
6
1
8
3
19
4
7
1
2
1
1
1
3
4
3
2
1
1
1
16
10
1
5
1
6
3
1
10
9
1
12
1
1
3
6
1
1
1
45
2
1
1
23
8
6
1
11
3
1
5
1
1
2
10
3
2
1
1
1
1
1
2
26
7
2
1
5
1
1
2
5
6
1
5
1
17
3
9
37
1
17
1
1
1
98
1
8
1
1
6
20
6
1
25
3
1
17
24
1
74
1
1
3
2
7
7
1
1
1
1
1
1
2
12
1
2
1
1
19
8
1
4
1
3
54
1
24
6
1
8
15
5
2
2
2
3
12
6
1
2
2
4
3
3
2
8
2
2
2
4
4
4
2
8
2
2
2
2
2
3
1
22
1
4
1
4
8
2
6
3
1
2
2
2
10
2
6
8
10
8
6
6
6
4
4
2
2
2
938
2
2
134
8
2
6
4
2
14
8
4
4
12
26
2
2
6
2
22
6
2
2
2
2
8
8
30
14
2
20
8
16
8
2
6
2
1
72
4
2
4
3
2
2
8
4
2
13
2
5
167
2
3
1
1
19
5
1
5

In [98]:
covid4 = covid4[['lat', 'lon', 'infections']]
data4 = []
for row in covid4.itertuples(index = False):
    print(row[2])
    point_data = {
        'COORDINATES': [row[0], row[1]],
        'infections': row[2],
    }
    data4.append(point_data)

1
1
1
14
3
2
3
2
2
3
2
7
1
1
1
1
1
1
3
1
4
1
1
1
1
7
1
2
2
5
1
1
1
1
10
7
14
1
44
1
1
1
1
1
1
2
1
2
1
1
2
1
5
1
1
8
1
1
4
1
2
1
324
1
1
1
1
1
26
1
4
1
1
1
2
1
2
1
1
3
9
1
1
2
1
1
40
1
2
13
230
4
1
1
5
1
4
4
1
262
3
24
1
2
1
8
19
1
1
7
1
2
3
1
1
14
1
8
4
2
1
1
2
1
1
5
2
1
3
1
2
1
51
7
1
1
1
48
3
3
11
34
1
1
5
15
1
1
25
72
6
8
37
1
49
1
1
1
477
1
2
1
8
1
1
4
7
72
2
1
1
21
1
1
1
9
3
13
2
1
1
190
1
1
8
1
1
1
1
1
23
1
5
1
1
1
1
3
1
38
2
2
5
11
11
1
3
16
3
3
2
3
759
1
16
8
2
37
62
1
3
5080
1
23
65
3326
1
17
6
20
8
108
69
3
1
433
58
43
3
51
4
4
1
1
13
18
51
14
1
4
3
1
110
1
1
86
2
14
16
1
1
18
2
1
7
42
1
2
4
24
46
2
5
1
31
19
2
6
2
21
6
1
2
29
14
1
109
6
1
1
652
1
1
4
20
1
37
22
44
1
68
82
1
33
7
3
22
9
52
1
313
16
1
24
1
7
85
49
2
1
1
1522
37
36
7
2
5
2
27
3224
1
77
139
19
3
36
37
569
2
3
55
15
60
20
2
2
8
19
1
13
1
10
76
13
10
4
753
2
12
4
3
17
2
3
10
1
3
1
3
32
1
1
2
1
2
2
8
44
1
24
2
3
5
1
1
1
1
1
1
1
20
3
1
1
10
6
1
1
9
3
1
3
1
14
1
6
1
3
228
2
1
6
18
4
1
4
4
4
30
2
58
12
54
11
1
2
15
4
4
19
5
2
1
1
1
1
30
1
9
7
1
29
10
1
6
1
1
7
2
12
1
7
1
2
6
1
1
3
11
5
2
9
1
5
1
1
11
3
1
137
6
4
44
4
31
2
2
1
574
1
3
1
1
7
220
1
3
3
14
153
8
4
1
13
1
1
3
1
6
51
5
2
8
4
22
1
31
226
5
22
974
43
1
1
1
4
1
8
1
2
119
1
505
124
113
5
2
1
14
9
22
16
2
4
9
4
1
6
6
3
1
1
35
3
41
27
16
69
42
36
16
3
118
60
54
47
18
1
24
3615
2
1
82
31
3
25
119
32
4
26
24
96
1
7
3
2
31
9
12
29
31
1
1
19
1
6
2
12
190
2
13
1
3
3
2
7
25
60
13
2
4
6
7
1
2
7
2
1
1
1
13
6
23
1
3
73
1
5
7
1
21
3
1
1
1
4
9
62
11
2
2
3
4
77
11
14
5
17
44
4
5
3
24
1
1
1
3
8
29
4
28
1
1
1
1
13
72
83
7
3
20
2
95
84
17
116
5
60
3
399
124
528
32
380
102
113
55
252
462
123
180

In [99]:
covid5 = covid5[['lat', 'lon', 'infections']]
data5 = []
for row in covid5.itertuples(index = False):
    print(row[2])
    point_data = {
        'COORDINATES': [row[0], row[1]],
        'infections': row[2],
    }
    data5.append(point_data)

1
1
3
4
3
1
45
1
5
4
17
1
1
3
3
1
1
6
1
84
1
44
45
2
3
64
1
2
2
1
9
1
1
904
155
18
16
1
40
104
525
220
1
498
11
1
2
1
1
2
1
1
1
2
1
1
89
595
1
1
294
131
116
5
204
354
2
89
23
1
11
11
347
1
1
1067
13
1
1
26
2
8
1233
645
1
129
1
1
1131
222
173
1
33
1
1
1
3
6
28
87
1622
27
23
167
2
1
10363
4
8
8
49313
58
5466
1
3
141
200
36
12054
5
2
2
65
2
753
46
7
1214
231
136
176
31
2392
36
1896
15
16
86
118
43
1
98
22
1
12
3
1
1
1
141
1
8
134
143
68
2
46
19
902
84
3
38
13
30
5491
66
45
1
5
406
1
214
328
31
1
74
915
187
36
19
764
40
7
2098
20
1
12
1
21
516
8
46
13
96
2
1
257
54
33
13
32
27
28
17
9
158
7
378
155
264
8
1
39
13
27
28
8
50
117
1
83
7
3
51
23
62
69
91
5
3
109
3
1284
37
5
23
62
9
92
1
89
3052
183
1414
6
13
15
54
3760
130
23
126
23
3
1
15
106
5
1005
4
56
448
32
9
10
21
123
16449
21
5
20
330
1001
142
16
8
12
54
116
383
1802
10
77
52
7
125
4
10
7
6
7
30
194
100
36
18
9
78
71
52
1
16
176
148
1
14
117
2
22
53
724
152
13
242
27
597
294
118
19
49
2
160
3
87
11
15
15
163
11
104
139
17
11
5
30
3
1
4
172
3
1
20
18
6
10
5
264
67
8
1
1
48
1
25
2
30
15
2
960
258
3
3
3
5
3
1
2
4
9
5
2
1
1
33
1
1
4
160
1
19
1
28
2
13
2
2
67
6
10
1
2
3
6
12
1
1
53
1
5
1
2
3
4
91
1
1
2
3
6
2
4
46
3
1
1
5
2
89
325
82
1
205
3
22
8
7
32
1
1
1
3
1
2
2
48
1
2
5
2
17
82
1
10
179
5
2
2
1
2
2
3
12
1
1
2
5
2
213
1
2
8
4
225
1
1
1
17
18
2
1
3
3
1
1
3
3
1
1
109
2
2
1
1
2
53
1
1
2
57
2
1
5
427
1
1
1
1
5
2
524
6
8
5
28
2
4
1
5
1
1
3
1
7
55
2
1
1
1
8
1
96
3
2
3
1
3
1
11
22
1
1
3
3
16
3
5
1
17
1
1
151
12
47
3
33
9
1
1
2
2
1
4
1
1
1
16
1
7
1
1
1
1
5
1
4
2
2
4
1
236
1
2
176
1
15
1
1
5
2
139
21
1
8
3
8
1
1
1
1
2
1
3
1
13
4
1
6
48
7
2
1
2
2
9
20
193
4
2
1
1
1
2
151
3
2
64
1
4
1
14
2
8
1
22
1
1
3
2
1
77
45
2
1
3
19
8
5
1
1
1
74
1
1
2
164
2
5
3
3
5
1
4
15
2
1
8
5
130
7
2
1
11
5
17
1
1
5
1
2
145
1
184
1
3
5
6
1
1
2
18
16
202
1
1
5
32
1
2
1
6
4
1
2
13
1
1
9
1
3
2
1
1
14
1
2
1
11
3
1
16
3
1
2
1
1
1
2
8
3
1
2
1
18
1
2
1
1
1
1
262
2
158
2
5
62
1
653
6
56
2
1
3
1
1
3
1
2
3
14
13
3
3
1
5
9
3
3
16
77
1
8
1
5
1
2
47
1
1
1
114
2
1
2
25
38
5
47
3
1
29
183
1
5
1
9
10
4
5
1
3
3
1
2
3
1
1
1
3
1
3
57
1
74
2
7
1
2
4
3
22
30
1
1
1
1
12
2
1
98
1
2
1
1
1
4
1
1
5
34
2
81
18
56
1
421
3
58
86
4
18
3
1
4
82
175
2
3
155
32
42
1
1
2
5
5
9
1
1
1
2
1
2
6
3
1
2
2
87
189
46
1
3
1
2
8
1
1
110
1
7
32
2043
5
34
8
3
5
1
6
1
3
3
5
2
4
4
68
102
2
1
5
41
3
1
2
7
5
11
1
66
39
455
3
50
1
2
1
84
10
1
26
2
17
4
1
1
2
34
2
477
128
6
9
2
134
3
116
171
11
18
4
13
1
22
1
1
42
2
1
3
68
3
1
32
1
1
150
1
2
4
1
1
1
1
96
7
32
1
1
5
15
27
39
9
13
18
26
103
33
60
104
146
189
1
19
9
430
3
1
63
2436
1
68
285
470
92
1
192
1
2
20
2
78
27
2
7
1
2
100
361
1
47
1
70
1139
1
558
267
67
160
55
61
66
14
19
43
128
89
40
1
45
129
40
307
39
29
31
209
95
92
1481
40
3
27
139
34
27
57
139
61
524
448
146
969
1
139
12
165
24126
74
1
444
195
34
232
277
66
38
41
326
627
98
39
44
50
12
132
84
275
31
73
20
16
23
21
64
61
19
21
36
6
64
280
42
48
1
11
88
89
178
6
229
158
71
41
93
13
77
129
112
116
3
1
1
231
17
94
6
1
15
1
1
46
1
1
90
2
1
1
1
1
1
2
114
295
24
86
22
122
11
169
360
25
57
304
201
29
1
648
1
140
18
3
20
261
2
1
1
102
1
1
59
93
20
45
125
53
16
105
6
28
6
312
19
192
381
38
76
143
269
232
37
130
26
2
1
276
37
999
112
789
49
632
593
481
191
702
1257
207
863

In [100]:
covid6 = covid6[['lat', 'lon', 'infections']]
data6 = []
for row in covid6.itertuples(index = False):
    print(row[2])
    point_data = {
        'COORDINATES': [row[0], row[1]],
        'infections': row[2],
    }
    data6.append(point_data)

1
2
1
1
3
1
3
1
1
1
1
1
1
2
1
1
2
1
1
2
9
3
16
4
8
5
1
2
2
11
1
35
14
2
4
1
8
52
18
1
4
19
1
2
1
3
24
79
3
1
1
1
2
88
33
4
1
1
69
16
2
2
10
72
1
229
1
1647
14
17
9
608
19
1
69
49
3
8
71
3
48
9
9
6
3
14
1
33
62
1
2
26
4
3
1
1
3
139
1
3
71
7
6
101
7
1
1
39
1
67
1
3
37
3
7
3
6
3
1
5
2
2
8
16
8
3
2
1
17
2
4
11
8
4
3
52
4
6
4
82
1
90
2
1
95
2
3
34
2
18
9
1
3
1126
7
23
1
7
20
15
46
1
3
5
1
2
2
6
5
4
6
27
7
11
2
63
7
3
10
3
3
19
3
15
9
2
3
2
3
4
2
1
9
12
9
16
14
5
12
2
21
23
28
5
2
11
34
20
10
2
2
10
6
15
1
22
37
1
71
7
6
22
1
5
3
3
5
10
2
12
4
14
13
15
32
19
30
2
12
7
7
7
3
7
1
2
1
16
6
8
5
5
1
1
2
98
2
1
6
35
51
14
4
14
3
9
12
1
1
4
45
2
13
14
7
25
130
4
1308
5
14
13
12
13
2
28
2
89
4
30
6
11
10
1
8
4
2
12
5
5
19
3
8
4
2
6
1
15
1
9
1
1
1
7
10
4
3
10
3
54
22
3
4
12
7
14
2
4
10
6
2
11

In [101]:
with open('jan_infections.json', 'w+') as f:
    json.dump(data, f)

In [102]:
with open('feb_infections.json', 'w+') as f:
    json.dump(data2, f)

In [103]:
with open('mar_infections.json', 'w+') as f:
    json.dump(data3, f)

In [104]:
with open('apr_infections.json', 'w+') as f:
    json.dump(data4, f)

In [105]:
with open('may_infections.json', 'w+') as f:
    json.dump(data5, f)

In [106]:
with open('jun_infections.json', 'w+') as f:
    json.dump(data6, f)